
@model Database.Models.Student
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div> 
}
@using (Html.BeginForm("Login", "Home", FormMethod.Post))

{
    <div>
        @Html.Label("UserName")
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.Label("Password")
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Login" class="btn btn-primary" />
}
